<!DOCTYPE html>
<html>
  <head>
    <title>Expense List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% let monthlyChange = 0 %>
    <% user.incomes.forEach(i => {switch(i.timePeriod) {
      case 'weekly':
        monthlyChange += 4 * i.amount
        break;
      case 'biweekly':
        monthlyChange += 2 * i.amount
        break;
      case 'monthly':
        monthlyChange += i.amount
        break;
    }}) %>  
      <% user.expenses.forEach(e => {switch(e.timePeriod) {
      case 'weekly':
        monthlyChange -= 4 * e.amount
        break;
      case 'biweekly':
        monthlyChange -= 2 * e.amount
        break;
      case 'monthly':
        monthlyChange -= e.amount
        break;
    }}) %>
    <h1>Income List</h1>
    <% if (!incomes.length) { %>
    <p>
      No Incomes
    </p>
    <% } %>
    <div>
      <div><%= monthlyChange %> </div>
      <% incomes.forEach(t => { %>
        <div>
          <p><%= t.title %></p>
          <p><%= t.amount %></p>
          <p><%= t.date %></p>
          <form action="/incomes/<%= t._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
          </form>
          <button><a href="/incomes/update/<%= t._id %>">Edit</a></button>
        </div>
      <% }) %>
    </div>
      <button><a href='/incomes/new/<%= user._id %>'>New Income Source</a></button>
  </body>
</html>